<p-menubar id="menuSuperior" [model]="items" syleClass="custom-menubar align-center">
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
      <!-- <i [class]="item.icon"></i> -->
    </a>
  </ng-template>
</p-menubar>



<div class="container p-4">
  <div class="row">
    <div *ngFor="let movie of movies" class="col-md-3">
      <p-card class="col-12">
        <ng-template #header>
          <img alt="Card" class="img-fluid p-2" [src]="movie.poster" />
        </ng-template>
        <ng-template #title> {{ movie.title }} </ng-template>
        <ng-template #subtitle> {{ movie.year }} </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
          deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            <p-button label="Comprar" class="w-full" styleClass="w-full" (click)="getMovie(movie)" />
          </div>
        </ng-template>
      </p-card>
    </div>

  </div>
</div>

<p-dialog [header]="movie.title" [(visible)]="displayModal" [modal]="true">
    <img alt="Card" class="img-fluid p-2" [src]="movie.poster" />
    <p>This is the content of my modal.</p>
    <ng-template pTemplate="footer" class="container">
        <p-button label="Atras" icon="pi pi-times"  class="mx-auto" (onClick)="displayModal=false"></p-button>
    </ng-template>
</p-dialog>